<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Liste proposition | Détail</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/style/style.css">


</head>

<body>

  <%- include('./partials/header.ejs') %>

    <h1>Propositions !</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center mb-3 mt-3">Proposition de : <%= trick['user.prenom'] %>
              <%= trick['user.nom'] %>
          </h3>
          <div class="card">
            <img class="card-img-top mx-auto" src="data:image/jpeg;base64, <%= trick.image.toString('base64') %>"
              alt="Image de la figure" style="width: 500px;">
            <div class="card-body">
              <h5 class="card-title text-center">
                <%= trick.nom %>
              </h5>
              <h5 class="card-title text-center">
                <%= trick['level.nom'] %>
              </h5>
              <p class="card-text">
                <%= trick.description %>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-end justify-content-center">
          <form action="/list-proposition/detail/<%= trick.id %>/delete" method="post">
            <input type="hidden" name="userName" value="<%= trick['user.prenom'] %>">
            <input type="hidden" name="userEmail" value="<%= trick['user.email'] %>">
            <input type="hidden" name="trickId" value="<%= trick.id %>">
            <button type="submit" class="btn btn-danger mr-3">Refuser</button>
          </form>
          <form action="/list-proposition/detail/<%= trick.id %>/confirm" method="post">
            <input type="hidden" name="userName" value="<%= trick['user.prenom'] %>">
            <input type="hidden" name="userEmail" value="<%= trick['user.email'] %>">
            <input type="hidden" name="trickId" value="<%= trick._id %>">
            <button type="submit" class="btn btn-success">Accepter</button>
          </form>
        </div>
      </div>
    </div>






</body>

</html>