<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Figure | Modifier</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>

    <%- include('./partials/header.ejs') %>

        <div class="container mt-3">
            <div class="row">
                <div class="col-md-6">
                    <h1>Figure de <%= trick['user.prenom'] %> <%= trick['user.nom'] %></h1>
                    <div class="card">
                        <img class="card-img-top mx-auto"
                            src="data:image/jpeg;base64, <%= trick.image.toString('base64') %>" alt="Image de la figure"
                            style="width: 500px;">
                        <div class="card-body">
                            <h3 class="card-title text-center"><%= trick.nom %>
                            </h3>
                            <h5 class="card-title text-center">
                                <%= trick['level.nom'] %>
                            </h5>
                            <p class="card-text">
                                <%= trick.description %>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1>Modifier la figure</h1>
                    <div class="card custom-card">
                        <div class="card-body">
                            <form action="/list-figure/<%= trick.id %>/update" method="post"
                                enctype="multipart/form-data">
                                <% if (typeof errors !=='undefined' && errors.length> 0) { %>
                                    <div class="alert alert-danger" role="alert">
                                        <% errors.forEach(error=> { %>
                                            <p>
                                                <%= error.msg %>
                                            </p>
                                            <% }) %>
                                    </div>
                                    <% } %>
                                        <div class="form-group">
                                            <label for="nomFigure">* Nom figure :</label>
                                            <input type="text" class="form-control" id="nomFigure" name="nomFigure"
                                                value="<%= trick.nom %>" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="description">* Description :</label>
                                            <textarea class="form-control" id="description" name="description" rows="3"
                                                required><%= trick.description %></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="difficulte">* Difficulté :</label>
                                            <select class="form-control" id="difficulte" name="difficulte" required>
                                                <% levels.forEach(level=> { %>
                                                    <option value="<%= level.id %>" <% if (level.id===trick.difficulte)
                                                        { %> selected <% } %> ><%= level.nom %>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="image">* Image :</label>
                                            <input type="file" class="form-control-file" id="image" name="image"
                                                accept="image/jpeg, image/png">
                                            <small class="form-text text-muted">Laissez vide si vous ne souhaitez pas
                                                modifier l'image.</small>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary custom-btn">Modifier</button>
                                        </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>