<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste proposition</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/style/style.css">

</head>
<body>

    <%- include('./partials/header.ejs') %>

        <h1>Liste des propositions !</h1>
    <div class="container mt-3">
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-2">Nom</th>
                        <th class="col-2">Prénom</th>
                        <th class="col-3">Nom de figure</th>
                        <th class="col-5">Description de la figure</th>
                    </tr>
                </thead>
                <tbody>
                    <% tricks.forEach(function(trick, index) { %>
                        <tr onclick="redirectToDetail('<%= trick.id %>')">
                            <td>
                                <%= trick['user.nom'] %>
                            </td>
                            <td>
                                <%= trick['user.prenom'] %>
                            </td>
                            <td>
                                <%= trick.nom %>
                            </td>
                            <td>
                                <%= trick.description %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

<script>
    function redirectToDetail(trickId) {
        console.log(trickId);
        window.location.href = '/trick/list-proposition/detail/' + trickId;
    }
</script>

</html>