<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistique | <%= stat['trick.nom'] %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <div class="container">
        <h1>Statistiques personnelles</h1>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card custom-card">
                    <img class="card-img-top mx-auto" src="data:image/jpeg;base64, <%= stat['trick.image'].toString('base64') %>" alt="Image de la figure" style="width: 300px; object-fit: cover;">
                    <div class="card-body">
                        <h3 class="card-title text-center"><%= stat['trick.nom'] %></h3>
                        <h5 class="card-title text-center"><%= stat['trick.level.nom'] %></h5>
                        <p class="card-text"><%= stat['trick.description'] %></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <div class="text-center">
                        <h5>Tentatives : <%= stat.nb_tentatives %> fois</h5>
                        <h5>Réussi : <%= stat.nb_reussites %> fois</h5>
                        <h5>Echec : <%= stat.nb_echecs %> fois</h5>
                        <h5>Classement : <%= userRank %> / <%= totalUsers %></h5>
                        <form id="resetForm" action="/stat/mes-stats/<%= stat['trick.id'] %>/reset" method="post">
                            <button type="button" class="btn btn-primary custom-btn" onclick="confirmReset()">Réinitialiser</button>
                        </form>
                        <script>
                            function confirmReset() {
                                if (confirm("Êtes-vous sûr de vouloir réinitialiser les statistiques ?")) {
                                    document.getElementById("resetForm").submit();
                                }
                            }
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <canvas id="myChart" width="300" height="300"></canvas>
                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: <%- pieChartData %>
                    });
                </script>
            </div>
        </div>
        <div class="container mt-3">
            <h1>Statistiques globales</h1>
            <div class="row">
                <div class="col-md-4">
                    <canvas id="myChart2" width="300" height="300"></canvas>
                    <script>
                        var ctx2 = document.getElementById('myChart2').getContext('2d');
                        var myChart2 = new Chart(ctx2, {
                            type: 'pie',
                            data: <%- pieChartData2 %>,
                            options: {
                                maintainAspectRatio: false,
                                responsive: true
                            }
                        });
                    </script>
                </div>
                <div class="col-md-4">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <div class="text-center">
                            <h5>Figure effectuée au total : <%= totalAttempts %></h5>
                            <h5>Figure réussie au total : <%= totalSuccess %></h5>
                            <h5>Figure échouée au total : <%= totalAttempts - totalSuccess %></h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <div class="text-center">
                            <h5>Meilleur utilisateur : <%= bestUserStatId['user.prenom']
 + ' ' +
                                        bestUserStatId['user.nom']%>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>

</body>


</html>